<h2>Simulations ciblées</h2>
<div [extract]="'top'"
     [title]="'Top 20 LONG'"
     [type]="'TEST'"
     [mode]="true"
     [limit]="20"
     [tick]="10000"></div>
<div [extract]="'top'"
     [title]="'Top 20 SHORT'"
     [type]="'TEST'"
     [mode]="false"
     [limit]="20"
     [tick]="10000"></div>
<h2>Simulations aléatoires</h2>
<div [extract]="'top'"
     [title]="'Top 20 LONG'"
     [type]="'SIMULATION'"
     [mode]="true"
     [limit]="20"
     [tick]="10000"></div>
<div [extract]="'top'"
     [title]="'Top 20 SHORT'"
     [type]="'SIMULATION'"
     [mode]="false"
     [limit]="20"
     [tick]="10000"></div>
